html{
    background-color: rgb(168, 248, 221);
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

#firstline{
    margin-bottom: 50px;
    margin-top: 8px;
}

#secondline{
    padding: 10px;
}

#nameheading{
    margin-left: -262px;
    margin-bottom: 6px;
    margin-top: 6px;
}

#emailheading{
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: -194px;
}

#phoneheading{
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: -226px;
}

#satisfyline{
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: -50px;
}

#yesnoline{
    margin-left: -155px;
    margin-bottom: 6px;
}

#suggestionline{
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: -122px;
}

#container{
    background-color: white;
    color: green;
    width: 30%;
    margin: auto;
    margin-top: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    

}

#raj{
    color: red;
}

#hotels{
    color: rgb(0, 21, 255);
}

input[type="text"],
input[type="email"],
input[type="number"]{
    border-radius: 5px;
    border: 2px solid black;
    width: 70%;
    padding: 4px;
}

textarea{
    border-radius: 5px;
    border: 2px solid black;
    width: 72%;
}

input[type="submit"]{
    color: white;
    background-color: green;
    border-radius: 10px;
    width: 74%;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#submitbtn{
    color: white;
    background-color: rgb(71, 202, 71);
    border: none;
    font-weight: 600;
}
#submitbtn:hover{
    cursor: pointer;
    background-color: rgb(6, 141, 6);
}

#thankyoumessage{
    text-align: justify;
    padding: 10px;
}

footer {
    
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
